html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#484848;
}

/*** Bootstrap Override ***/
a {

    transition: all ease-in-out 0.15s;
}

a:hover {
   
    text-decoration: none;
    transition: all ease-in-out 0.15s;
}


.btn{
    border-radius: 0;
}
.form-control{
    border-radius: 0;
}

/***** Extend Bootstrap Classes *****/

